# Configuración necesaria para correr SATA localmente

# API Key de Google Gemini (Obtenla en https://aistudio.google.com/app/apikey)
VITE_GEMINI_API_KEY=

# Credenciales de Supabase
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Credenciales de Resend (Correos)
VITE_RESEND_API_KEY=
VITE_SENDER_EMAIL=onboarding@resend.dev

# Token del Bot de Telegram
VITE_TELEGRAM_BOT_TOKEN=
